.bg {
  background: black;
  background-image: url("https://img.wallpapersafari.com/desktop/1600/900/69/4/tBTMHx.jpg");
  background-size: 10px;
  background-repeat: ;
}

.logo {
  background: -webkit-linear-gradient(#D3D3D3, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
}

.desc {
  color: white;
}